.footer-ikea{
	width: 100vw;
	position: relative;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	padding: 60px 0 86px;
	img{
		width: 100%;
	}
	.subtitle-ikea{
		text-align: left;
	}
	@include r(767){
		.subtitle-ikea{
			span{
				display: block;
			}
		}
	}
}