@font-face {
	font-family: 'FuturaBookC';
	src: url('../fonts/FuturaBookC/FuturaBookC-Regular.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/FuturaBookC/FuturaBookC-Regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
	url('../fonts/FuturaBookC/FuturaBookC-Regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/FuturaBookC/FuturaBookC-Regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
	url('../fonts/FuturaBookC/FuturaBookC-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/FuturaBookC/FuturaBookC-Regular.svg#futurabookc') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'FuturaMediumC';
	src: url('../fonts/FuturaMediumC/FuturaMediumC.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/FuturaMediumC/FuturaMediumC.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
	url('../fonts/FuturaMediumC/FuturaMediumC.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/FuturaMediumC/FuturaMediumC.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
	url('../fonts/FuturaMediumC/FuturaMediumC.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/FuturaMediumC/FuturaMediumC.svg#futurabookc') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'FuturaDemiC';
	src: url('../fonts/FuturaDemiC/FuturaDemiC.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/FuturaDemiC/FuturaDemiC.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
	url('../fonts/FuturaDemiC/FuturaDemiC.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/FuturaDemiC/FuturaDemiC.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
	url('../fonts/FuturaDemiC/FuturaDemiC.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/FuturaDemiC/FuturaDemiC.svg#futurabookc') format('svg'); /* Chrome < 4, Legacy iOS */
}


$font1: 'FuturaBookC', sans-serif;
$font2: 'FuturaMediumC', sans-serif;
$font3: 'FuturaDemiC', sans-serif;